<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaHospitalar2.Properties.Settings.Setting" connectionString="Data Source=.\SQLExpress;Initial Catalog=dbHospital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaHospitalar2.Properties.Settings.db_HospitalConnectionString"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=db_Hospital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>